{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Leveling</title>
        <meta name="description" content="Level up solo">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "leveling/styles.css" %}">
    </head>
    <body>
        <main>
            <div class="gltichy-borders">
                <div class="gltichy-borders"></div>
            </div>
        </main>
    </body>
</html>