{% extends "gallery/layout.html" %}

{% block nav %}
    <h1> Adding new image </h1>
{% endblock nav %}

{% block add %}
    <div class="gallery-image">
        <form action="{% url 'gallery:create' %}" enctype="multipart/form-data" method="post">
            {{ form }}
            {% comment %} <label for="image"> Upload an image </label>
            <inp    ut type="file" id="image" name="image" accept="image/png, image/jpeg" /> 
            <label for="alt"> Add a description/alt text </label>
            <input type="text" id="alt" name="alt" /> {% endcomment %}
            {% csrf_token %}
            <input type="submit" value="Add image">
        </form>
    </div>
{% endblock add %}