{% extends "gallery/layout.html" %}

{% block nav %}
    <li class="nav-link"><a href="#introduction" >HOME</a></li>
    <li class="nav-link"><a href="#gallery" >GALLERY</a></li>
    <li class="nav-link"><a href="#about">ABOUT</a></li>
{% endblock nav %}

{% block hero %}
<section id="introduction">
    <div class="content">
        <h1>Welcome to our town!</h1>
        <p> Here's one to our memories, Enjoy!</p>
    </div>
</section>
{% endblock hero %}

{% block main %}
        <h1 class="content">The Gallery</h1>
        {% for memory in memories %}
            <div class="gallery-image">
                <img src="/media/{{ memory.image }}" alt="{{ memory.description }}" height="100%" width="100%" >
                <p>{{ memory.description }} <br>- {{ memory.poster }}</p>
            </div>            
        {% endfor %}
        <section id="ops">
            <div class="oper"><a href="{% url 'gallery:create' %}">Add an image </a></div>
        </section>
{% endblock main %}