{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="{% static 'gallery/styles.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
        <title>Memories</title>
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <nav>
                    <ul>
                        <li class="nav-link"><a href="#introduction" >HOME</a></li>
                        <li class="nav-link"><a href="#gallery" >GALLERY</a></li>
                        <li class="nav-link"><a href="#about">ABOUT</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section id="introduction">
                <div class="content">
                    <h1>Welcome to our town!</h1>
                    <p> Here's one to our memories, Enjoy!</p>
                </div>
            </section>
            <section id="gallery">
                <div class="gallery">
                    <h1 class="content">The Gallery</h1>
                    {% for memory in memories %}
                        <div class="gallery-image"><img src="/media/{{ memory.image }}" alt="{{ memory.description }}"></div>
                    {% endfor %}
                        <div class="gallery-image"><img src="{% static '/images/ig.jpg' %}" alt="Bright picture at the India Gate"></div>
                    <div class="gallery-image"><img src="{% static '/images/rb.jpg' %}" alt="The gang at the Rastrapati Bhawan"></div>
                    <div class="gallery-image"><img src="{% static '/images/mount.jpg' %}" alt="Peak of the ARSD 'infamous' mountain "></div>                    
                    {% block images %}
                        {% if image %}
                            <div class="gallery-image"><img src="{{ image }}" alt="{{ alt }}"></div>
                        {% endif %}
                    {% endblock images %}
                </div>
            </section>
            <section id="ops">
                <div class="oper"><a href="{% url 'gallery:create' %}">Add an image </a></div>
            </section>
        </main>
        <footer>
            <section id="about">
                <h1 class="content">About</h1>
                <div class="credits">
                    <p>It is all about the <span class="bold">journey</span>.</p>
                    <p><span class="italic">Made by all of us, with love</span></p>
                </div>
            </section>
        </footer>
    </body>
</html>