{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loopy: Loopstation sim </title>
        <link rel="stylesheet" href="{% static "loopy/styles.css" %}?{% now "U" %}" >
    </head>
    <body>
        <header>
            <h1>Loopstation sim</h1>
        </header>
        <main>
        <div class="main-box">
            <div class="main-circles">
                <div class="sound-block">
                    <div class="fx-button"></div>
                    <div class="track-button"></div>
                    <div class="clear-hold"></div>
                    <div class="slider"></div>
                    <div class="main-circle-buttons"></div>
                </div>
                <div class="sound-block">
                    <div class="fx-button"></div>
                    <div class="track-button"></div>
                    <div class="clear-hold"></div>
                    <div class="slider"></div>
                    <div class="main-circle-buttons"></div>
                </div>
                <div class="sound-block">
                    <div class="fx-button"></div>
                    <div class="track-button"></div>
                    <div class="clear-hold"></div>
                    <div class="slider"></div>
                    <div class="main-circle-buttons"></div>
                </div>
                <div class="sound-block">
                    <div class="fx-button"></div>
                    <div class="track-button"></div>
                    <div class="clear-hold"></div>
                    <div class="slider"></div>
                    <div class="main-circle-buttons"></div>
                </div>
                <div class="sound-block">
                    <div class="fx-button"></div>
                    <div class="track-button"></div>
                    <div class="clear-hold"></div>
                    <div class="slider"></div>
                    <div class="main-circle-buttons"></div>
                </div>
            </div>
        </div>
    </main>
        <footer>Loopstation forever</footer>
    </body>
</html>