<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loopy: Loopstation sim </title>
        <link rel="stylesheet" src="{% static "loopy/styles.css" %}"
    </head>
    <body>
        <header>Loopstation sim</header>
        <main>
            <div class="main-box">
        <div class="main-circle-buttons"></div>
        <div class="main-circle-buttons"></div>
        <div class="main-circle-buttons"></div>
        <div class="main-circle-buttons"></div>
        <div class="main-circle-buttons"></div>
            </div>
    </main>
        <footer>Loopstation fwr</footer>
    </body>
</html>