{% extends "squishy/layout.html" %}

{% block body %}
    <div id="h1-wrapper">
        <h1>Squishy </br> Stuff</h1>
    </div>
    {% for value in map %}
        {% if value == "large" %}
            <div class="large-wrapper">
                <div class="large-button"></div>
            </div>
        {% elif value == "vsmall" %}
            <div class="vsmall-wrapper">
                <div class="vsmall-button"></div>
            </div>
        {% elif value == "vlarge" %}
            <div class="vlarge-wrapper">
                <div class="vlarge-button"></div>
            </div>
        {% elif value == "small" %}
            <div class="small-wrapper">
                <div class="small-button"></div>
            </div>
        {% else %}
            <div class="medium-wrapper">
                <div class="medium-button"></div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="chunky-wrapper">
        <div class="chunky"></div>
    </div>
    <h1><i>Feeling squishy, yet?</i> </h1>
{% endblock body %}