{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Squishy stuff </title>
        <link href="{% static "squishy/styles.css" %}?{% now "U" %}" rel="stylesheet" />
    </head>
    <body>
        <div id="main-container">
        <div class="medium-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div><div class="medium-button" ></div>

        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div><div class="medium-button" ></div>

        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="medium-button" ></div>
        <div class="large-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="small-button" ></div>
        <div class="medium-button" ></div>
        <div class="small-button" ></div>
        <div class="large-button" ></div>
        <div class="medium-button" ></div>
        </div>
    </body>
</html>