{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Squishy stuff </title>
        <link href="{% static "squishy/styles.css" %}?{% now "U" %}" rel="stylesheet" />
    </head>
    <body>
        <div id="main-container">
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div><div class="medium-wrapper">
    <div class="medium-button"></div>
</div>

            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div><div class="medium-wrapper">
    <div class="medium-button"></div>
</div>

            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
            <div class="small-wrapper">
    <div class="small-button"></div>
</div>
            <div class="large-wrapper">
    <div class="large-button"></div>
</div>
            <div class="medium-wrapper">
    <div class="medium-button"></div>
</div>
        </div>
    </body>
</html>