{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Squishy stuff </title>
        <link href="{% static "squishy/styles.css" %}?{% now "U" %}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        {% comment %} <script>
            document.addEventListener("DOMContentLoaded", () => {
                    document.querySelectorAll('.main-container > div').forEach(div => {
                        div.onhover = function() {
                            color = document.querySelector('body').style.color = "black";
                        }
                    });
                });
        </script> {% endcomment %}
    </head>
    <body>
        <div id="main-container">
        {% block body %}
        {% endblock body %}
        </div>
    </body>
</html>