:root {
  --block-color: #1B1B1E;
  --background-color1: #040F16;
  --background-color2: #232528;
  --background-color3: #0D090A;
  --font-green: #00ff00;
  --font-color1: #DADDD8;
  --font-color2: #C2C6A7;
  --font-back: #7A7D7D;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--font-color1);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  background: linear-gradient(
      50deg,
      var(--background-color1),
      var(--background-color2),
      var(--background-color3)
  );
  padding: 0;
}


.nav-bar {
  width: 100%;
  height: 60px;
  background-color: var(--block-color);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--font-color2);
  margin: 0;
}

nav>ul {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-link {
  width: 15%;
  max-width: 175px;
  height: 35px;
  display: block;
  text-align: center;
  border: 1px solid var(--font-color1);
  background-color: var(--font-back);
  border-radius: 4px;
  padding: auto;
  margin: auto 25px;
}

.nav-link a {
  text-decoration: none;
  color: var(--font-color1);
  justify-content: center;
  font-size: larger;
  width: 100%;
  height: 100%;
  display: block;
  
}

.nav-link:hover {
  background-color: black;
  cursor: pointer;
  color: var(--font-green);
  text-transform: lowercase;
  display:block;
}

main {
  padding-top: 25vh;
  margin: 0;
}

#introduction {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}

.content {
  text-align: center;
  font-size: 36px;
  display: block;
  align-items: center;
  width: 100%;
}

#gallery {
  size-adjust: auto;
  width: 100%;
  height: 100vh;
}

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-image {
  width: 250px;
  height: 250px;
  display: block;
  border: 1px solid snow;
  border-radius: 8px;
  margin: 10px 10px;
  background-color: black;
}

img {
  width: 100%;
  max-width: 240px;
  object-fit: cover;
  height: 240px;
  border-radius: 9px;
  padding: 5px;
}

footer {
  position: relative;
}

#about {
  padding: 10px;
  width: 100%;
  height: 30vh;
  text-align: center;
  background-color: #0A0903; 
}


.italic {
  font-style: italic;
}