body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-box {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    border: 5px solid grey;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px grey;
}

.modifier-area {
    height: 38%;
    width: 100%;
    border: 1px solid snow;
    display: flex;
}

.dial-abcd {
    width: 20%;
    height: 100%;
    border: 4px solid rebeccapurple;
    position: relative;
}

.buttons {
    width: 20%;
    height: 100%;
    border: 3px solid rosybrown;
}

.screen {
    width: 30%;
    height: 100%;
    border: 4px solid blue;
}

.dial-abcd > .dial {
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 100%;
}

.abcd-button {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: space-between;
}

.abcd-buttons {
    display: flex;
    position: absolute;
    bottom: 10px;
}

.sound-block {
    /* border: 2px dotted white; */
    position: relative;
    padding: 0 10px;
    font-size: 0.7em;
    height: 100%;
}

.main-circles {
    display:flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
}

.main-circle-buttons {
    border-radius: 100%;
    height: 160px;
    width: 160px;
    border: 10px dashed red;
    display: flex;
    align-items: center;
}

.playnpause {
    width: 100px;
    height: 100px;
    border: 10px solid grey;
    border-radius: 100%;
    margin: auto;
}

.playnpause:hover {
    border-color: lawngreen;
}

.fx-button {
    width: 65px;
    height: 25px;
    border: 2px solid red;
    border-radius: 30px;
    text-align: center;
    color: red;
}

.track-button {
    width: 65px;
    height: 25px;
    border: 2px solid lime;
    border-radius: 30px;
    margin: 15px 0;
    text-align: center;
    color: lime;
    box-shadow: inset;
}

.clear-hold {
    width: 65px;
    height: 65px;
    border: 2px solid grey;
    border-radius: 100%;
}

.slider {
    border: 2px dotted white;
    height: 150px;
    width: 65px;
    margin: 0 10px;
    position: absolute;
    top: 0;
    right: 10px;
}