body {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    margin: 20px 50px;
    border: 1px solid black;
    justify-self: center;
      
}

#h1-wrapper {
    display: block;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 100px;
}

h1 {
    text-align: center;
    font-size: 108px;
    color: white;
    text-shadow:
    -1px -1px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    5px 5px 0 #000; 
    padding: 0;
    margin: 0;
}

h1:hover {
    text-shadow: 
    -1px -1px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin-top: 4px;
    margin-left: 4px;
    transition: all .5s ease;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 0;
}

.vsmall-wrapper {
    width: 30px;
    height: 30px;
    padding: 10px;
    /* background-color: green; */
}

.small-wrapper {
    width: 55px;
    height: 55px;
    padding: 10px;
    /* background-color: green; */
}

.medium-wrapper {
    width: 110px;
    height: 110px;
    padding: 20px;
    /* background-color: yellowgreen; */
}

.large-wrapper {
    width: 220px;
    height: 220px;
    padding: 50px;
    /* background-color: crimson; */
}

.vlarge-wrapper {
    width: 440px;
    height: 440px;
    padding: 50px;
    /* background-color: crimson; */
}


.chunky-wrapper {
    width: 200px;
    height: 200px;
    padding: 30px;
}

.vsmall-wrapper, .small-wrapper, .medium-wrapper, .large-wrapper, .vlarge-wrapper {
    overflow: hidden;
}

.medium-button {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius:  15px;
    box-shadow: 5px 5px black;
    background-color: yellow;
}

.small-button, .vsmall-button {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    background-color: yellowgreen;
}

.large-button, .vlarge-button {
    background-color: orange;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.vsmall-button {
    background-color: lime;
    width: 25px;
    height: 25px;
    border-radius: 7px;
}

.vlarge-button {
    background-color: red;
    width: 400px;
    height: 400px;
}



.small-button:hover {
    box-shadow: none;
    margin-left: 5px;
    margin-top: 5px;
    transition: all .3s ease-out;
    /* scale: 1.1; */
}

.medium-button:hover {
    /* scale: 1.5;
    transform: rotate(0.3turn); */
    box-shadow: none;
    margin-left: 5px;
    margin-top: 5px;
}

.large-button:hover, .medium-button:hover, .vlarge-button:hover, .vsmall-button:hover {
    /* scale: 2;
    rotate: 0.7turn; */
    box-shadow: none;
    margin-left: 5px;
    margin-top: 5px;
    transition: all .2s ease;
    /* border-color: red;
    background-color: blue; */
}

/* .small-button:hover {
    border: 1px solid black;
    animation: rotate 1s linear infinite;
    transition: all .5s ease-in-out;
} */

@keyframes rotate {
    0%{
        border-top-color: red;
        /* border-top-width: 3px; */
    }
    25%{
        border-right-color: red;
        /* border-right-width: 3px; */
    }
    50%{
        border-bottom-color: red;
        /* border-bottom-width: 3px; */
    }
    75%{
        border-left-color: red;
        /* border-left-width: 3px; */
    }
    
    
}



/* Pixel styles */

#pixel-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.small-pixel {
    width: 1px;
    height: 1px;
    background-color: green;
}

.medium-pixel {
    width: 1px;
    height: 1px;
    background-color: blue;
    display: inline;
}

.large-pixel {
    width: 1px;
    height: 1px;
    background-color: red;
}

.small-pixel:hover, .large-pixel:hover, .medium-pixel:hover {
    transform: rotateY('180deg');
}